.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.srchbar{
    width: 50vw;
    border: 0.2rem solid black;
    filter: drop-shadow(0.3rem 0.3rem black);
    height: 8vh;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem;
}
.results img{
    height: 40vh;
    width: 40vw;
    display: block;
}
.message{
    display: flex;
    flex-direction: column;
}